/* PRIMARY TOP NAV BAR */
.navbar {
  margin-left: 0px;
  overflow: hidden;
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

/* LINKS INSIDE PRIMARY TOP NAV BAR */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 1;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

 /* BUTTON STYLING */

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer; 
  }

.btnmars {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  background-color: #46a049;
}
  
  
/* unique sub navigation bar */
.btn {background-color: #04AA6D;} /* Green */
.btn:hover {background-color: #46a049;}


.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #ffffff; color: black;} /* Gray */
.default:hover {background: #ffffff;
}


/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  /* text-align: center; */
  max-width: 800px;
  padding: 20px;
}

/* a main content div for just the landing page that utilizes background image */
.landingpagemain {
  width: 100%;
  height: 1200px;
  background-size: 100% 100%;
  background-image: url(/img/Artboard1LA_lang.jpg);
  background-repeat: no-repeat;
}

/* BLACK AND WHITE HIGH CONTRAST TABLE FOR DECKS */
#decks {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


#decks td, #deck th {
  border: 1px solid #ddd;
  padding: 8px;
}

#decks tr:nth-child(even){background-color: #f2f2f2;}

#decks tr:hover {background-color: #ddd;}

#decks th {
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

/* * {
  box-sizing: border-box;
} */

body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;

} 

/* Center website
.main {
  max-width: 1000px;
  margin: auto;
} */

h1 {
  font-size: 50px;
  word-break: break-all;
}


.imgSmall {
  border: 0px;
  max-height: 40px;
}

.bigEmoji{
  font-size: 30px;
  
}

.bigEmojiText{
  font-size: 25px;
}

.infoGraphicRender {
  border: 0px;
  max-width: 600px;
}


.imgbordered {
  border: black solid 2px;
}

.imgcardfull {
  width: 223px;
  height: 311px;
  padding: 5px;
}

.imageadaptiveinfographic {
  /* width: 50%; */
  /* height: 50%; */
  padding: 10px;

}