/* PRIMARY TOP NAV BAR */
.navbar {
margin-left: 0px;
overflow: hidden;
background-color: black;
width: 100%; /* Full width */
border: black 3px;
box-sizing: border-box;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

/* LINKS INSIDE PRIMARY TOP NAV BAR */
.navbar a {
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
border: black 3px;
box-sizing: border-box;
}

/* Change background on mouse-over */
.navbar a:hover {
background: #ddd;
color: black;
}

/* Links inside the navbar */
.navbar a {
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: xx-large;
}

/* Change background on mouse-over */
.navbar a:hover {
background: #ddd;
color: black;
}

/* MISC BUTTON STYLING */
.btn {
border: none;
color: white;
padding: 14px 28px;
cursor: pointer; 
}

.btnmars {
border: none;
color: white;
padding: 14px 28px;
cursor: pointer;
background-color: #46a049;
}


/* unique sub navigation bar */
.btn {background-color: #04AA6D;} /* Green */
.btn:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #ffffff; color: black;} /* Gray */
.default:hover {background: #ffffff;
}

/* Main content */
.main {
margin-top: 30px; /* Add a top margin to avoid content overlay */
/* text-align: center; */
max-width: 100%;
padding: 20px;
}

/* GENERIC BODY */
.genericbody {
padding: 12px;
margin: 12px;
width: 100%;
max-width: 99%;
padding-top: auto;
word-wrap:normal;
box-sizing: border-box;

}

/* a main content div for just the landing page that utilizes background image */
.landingpage {
background: url('./img/Artboard1GameShelf_land.jpg');
background-repeat: repeat-y;
background-size: cover;
}

/* ------------------------ */

/* BLACK AND WHITE HIGH CONTRAST TABLE FOR DECKS PAGE */
/* GENERAL STYLING */
.decks {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
max-width: 99%;

}

/* CSS NOTE: COMMA means 2 CSS ELEMENTS (e.g. all tds and th under decks) share the same style */
.decks td {
border: 1px solid #ddd;
padding: 10px;
}

.decks tr:nth-child(even){background-color: #f2f2f2;}

.decks tr:hover {background-color: #ddd;}

.decks th {
padding: 10px;
text-align: left;
background-color: #333;
color: white;
}

/* ------------------------ */

body {
/* background-color: #ffffff; */
font-family: Arial, Helvetica, sans-serif;
font-size: x-large;
margin: auto;
} 

h1 {
font-size: 50px;
word-break: break-all;
}

.imgSmall {
border: 0px;
max-height: 40px;
}

.smallimgcaption {
font-style: italic;
font-size: 20px;
margin-top: 1px;
}

.bigEmoji{
font-size: 30px;
}

.bigEmojiText{
font-size: 25px;
}

.infoGraphicRender {
border: 0px;
max-width: 600px;
}


.imgbordered {
border: black solid 2px;
/* max-width: 90%; */
width: 100%;
max-width: 99%;
align-content: center;
box-sizing: border-box;
}

.imgcardfull {
/* NO OPACITY HOVER */
width: 223px;
height: 311px;
padding: 5px;

}

.imgcardgalleryfull {
width: 223px;
height: 311px;
padding: 5px;
/* opacity: 80%; */

}

.imgcardgalleryfull:hover {
opacity: 100%;
}

.imageadaptiveinfographic {
/* width: 50%; */
/* height: 50%; */
padding: 10px;
}

.imgcardfullbordered {
width: 223px;
height: 311px;
border: black solid 2px;
}

.quote {
font-style: italic;
}

ul.no-bullets {
list-style-type: none; /* Remove bullets */
padding: 0; /* Remove padding */
margin: 0; /* Remove margins */

}

/* ================================================================== */

/* BLACK AND WHITE HIGH CONTRAST TABLE FOR DECKS PAGE */
/* GENERAL STYLING */
.trade {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 99%;
    
    }
    
    /* CSS NOTE: COMMA means 2 CSS ELEMENTS (e.g. all tds and th under decks) share the same style */
    .trade td {
    border: 1px solid #ddd;
    padding: 10px;
    }
    
    .trade tr:nth-child(even){background-color: #f2f2f2;}
    
    .trade tr:hover {background-color: #ddd;}
    
    .trade th {
    padding: 10px;
    text-align: left;
    background-color: #333;
    color: white;
    }


/* // -- ================================================================== */

/* a warning banner for a page in construction */
.warningbanner {
padding: 12px;
overflow: hidden;
background-color: rgb(233, 247, 175);
width: 100%; /* Full width */
box-sizing: border-box;
border: black 3px;
border-style: solid;
}

/* ================================================================== */

/* deckanalysis */
.deckanalysis {
padding: 12px;
box-sizing: border-box;
max-width: 99%;
margin-top: 12px;
margin-bottom: 12px;
}
dt {
font-weight: bold;
}
dd {
margin: 0;
padding: 0 0 0.5em 0;
}



#green
{
background-color: #00f134;
}

#red
{
background-color: #d10101;
color: #f2f2f2;
}

#grey
{
background-color: #a5a5a5;
}

/* ================================================================== */

#key {
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
border-collapse: collapse;
width: 25%;
}

#key td, #deck th {
border: 1px solid #ddd;
padding: 8px;
}

#key th {
padding-top: 12px;
padding-left: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #333;
color: white;
}

/* DECK ARCHETYPE COLORS */

.archetyperush
{
background-color: #e69d58;
}

.archetypecontrol
{
background-color: #3f1153;
color: white;
}

.archetypecombo
{
background-color: #d23135;
}

.archetypemidrange
{
background-color: #f0de99;
}

.archetypesteal
{
background-color: #888887;
}

.archetypemars
{
background-color: #3d9b35;
color: white;
}

.archetypereversal
{
background-color: #814b0e;
color: white;
}

.archetypegrouphug
{
background-color: #e7b4e7;
}

.archetypejank
{
background-color: #5db85d;
}

/* ================================================================== */

/* BLACK AND WHITE HIGH CONTRAST TABLE FOR gamecomparison chart/table on LEARN page */
#gamecomparison {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
max-width: 99%;
text-align: center;
}

#gamecomparison td, #deck th {
border: 1px solid #ddd;
padding: 8px;
}

#gamecomparison tr:nth-child(even){background-color: #f2f2f2;}

#gamecomparison tr:hover {background-color: #ddd;}

#gamecomparison th {
padding-top: 12px;
padding-left: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #333;
color: white;
}

/* --=========================================================== */

.tableofcontentslist {
list-style-type: none;
white-space: break;
}

.gameclientscreenshot {
max-width: 30%;
padding: 5px;
}

.topalign {
    display: flex;
    flex-direction: row-reverse;
}
a.topalign {
    text-decoration: none;
    text-align: right;
    position: inherit;
}

.hr {
    /* clears float from return to top ui */
    clear:both; 
}

