.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  }
  
  
/* unique sub navigation bar */
.btn {background-color: #04AA6D;} /* Green */
.btn:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #ffffff; color: black;} /* Gray */
.default:hover {background: #ffffff;
}

 /* photo gallery menu */
.subBtn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  background-color: #333; /* Green */
}


/* The navigation bar */
.navbar {
  margin-left: -8px;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  /* text-align: center; */
  max-width: 800px;
  padding: 20px;
}

#decks {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#decks td, #deck th {
  border: 1px solid #ddd;
  padding: 8px;
}

#decks tr:nth-child(even){background-color: #f2f2f2;}

#decks tr:hover {background-color: #ddd;}

#decks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Arial;
  margin: auto;
}

/* Center website
.main {
  max-width: 1000px;
  margin: auto;
} */

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;

}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: ffffff;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* .img {
  border: 3px solid black;
} */

.imgSmall {
  border: 0px;
  max-height: 40px;
}

.bigEmoji{
  font-size: 30px;
  
}

.bigEmojiText{
  font-size: 25px;
}

.infoGraphicRender {
  border: 0px;
  max-width: 600px;
}

